<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portafolio de Daniel</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome-animation.css" rel="stylesheet" />
    <link href="assets/css/prettyPhoto.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
</head>
<body >

         <div class="navbar navbar-inverse navbar-fixed-top">
       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">INICIO</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home-sec">Presentación</a></li>
                    <li><a href="#services-sec">¿Quién soy?</a></li>
                    <li><a href="#price-sec">Herramientas y aptitudes</a></li>
                    <li><a href="#contact-sec">Contacto</a></li>
                </ul>
            </div>
           
        </div>
    </div>   

    <div id="home-sec">

   
    <div class="container"  >
        <div class="row text-center">
            <div  class="col-md-12" >
                <span class="head-main" >Daniel Juárez de Alba</span>
                <h2 class="head-sub-main">Portafolio 2024</h2>
            </div>
            <div class="col-md-12 col-sm-12">
               
                <a  href="#services-sec">
                 <i class="fa fa-crosshairs fa-5x go-marg"></i> 
                    </a>
            </div>
        </div>
    </div>
         </div>

         <section  id="services-sec">
            <div class="container">
                <div class="row ">
                    <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs "></i> ¿Quién soy? </h1>
                    
                   
                    <div class="text-center g-pad-bottom">
                        <h4>Daniel Juárez de Alba</h4>
                        <p>
                            ¡Hola! Todos mis amigos me dicen Dany y tengo 21 años y estoy estudiando la carrera Ingeniería en Computación. Soy originario de Ciudad de México
                            y actualmente resido en Querétaro, donde espero pronto poder comprar mi casa, ya que me parece una zona muy bonita.
                        </p>
                    </div>
                        
                    </div>
                </div>
            </div>
        </section>
 
    <section  id="services-sec">
        <div class="container">
            <div class="row ">
                <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs "></i> Logros profesionales </h1>
                
               
                <div class="text-center g-pad-bottom">
                    <div class="col-md-4 col-sm-4">
                            <i class="fa fa-circle fa-5x faa-ring animated c-main "></i>
                            <h4>Certificación de nivel B2 en Inglés</h4>
                            <p>
                               Certificación realizada por Cambrigde English con una puntuación de 172 puntos sobre 200, dando una habilidad independiente
                               sobre el idioma Inglés.
                            </p>
                            
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <i class="fa fa-folder-open fa-5x faa-shake animated c-main "></i>
                        <h4>Especialización en bases de datos</h4>
                        <p>
                            Curso especializado en desarollo web y de bases de datos con base a XAAMP y a JAVASCRIPT con las librerias de encriptación de contraseñas para las mismas
                            con sus librerias especificadas en la cuenta de GitHub.
                        </p>
                      
                </div>

                <div class="col-md-4 col-sm-4">
                        <i class="fa fa-file fa-5x faa-vertical animated c-main "></i>
                        <h4>Certificación en Adobe Premiere</h4>
                        <p>
                            Validación de conocimientos en el espacio Adobe Premiere Pro, especializado en audio y video profesional para
                            la edición de videos, películas, TV y entornos web.
                        </p>
                        
                </div>
                </div>
            </div>
        </div>
    </section>

    

    <section id="price-sec">
        <div class="container">
            <div class="row g-pad-bottom">
                <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs "></i> HERRAMIENTAS </h1>
                
                  
                <div class="col-md-12 text-center ">
                    <div class="col-md-4 col-sm-4">
                        <ul class="plan">
                             
                            <li class="plan-head">FRAMEWORKS <br> <i class="fa fa-dot-circle-o  c-pr-i"></i><br> DOMINADOS</li>
                           
                            <li>HTML</li>
                            <li>JAVASCRIPT</li>
                            <li>CSS</li>
                            <li>SQL</li>
                            <li class="bottom">
                                <a href="https://code.visualstudio.com/" class="btn btn-success btn-lg ">¡Descarga el entorno que uso!</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <ul class="plan">
                            <li class="plan-head">BASE</i> DE DATOS</li>
                            
                            <li>XAAMP</li>
                            <li>Apache</li>
                            <li class="bottom">
                                <a href="https://www.apachefriends.org/download.html" class="btn btn-primary btn-lg ">¡Descarga el software que uso!</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <ul class="plan">
                            <li class="plan-head">MI <i class="fa fa-dot-circle-o  c-pr-i"></i> GIT</li>
                         
                            <li><strong>REPOSITORIO ACTUALIZADO</strong></li>
                            <li>CÓDIGO EN <strong>TIEMPO REAL</strong></li>
                            <li>LIBRERÍAS EXPLICADAS</li>
                            <li class="bottom">
                                <a href="https://github.com/DanydeAlba24/Portafolio_DanielDeAlba_CSSyBootStrap" class="btn btn-danger btn-lg">¡Descarga el Portafolio!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section id="price-sec">
        <div class="container">
            <div class="row g-pad-bottom">
            <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs "></i> APTITUDES </h1>
            <div class="text-center g-pad-bottom">           
            <div class="text-center g-pad-bottom">
                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-users fa-5x faa-bounce animated c-main "></i>
                    <h4>Orador y expositor</h4>
                    <p>
                        Habilidad nata para exponer y platicar ante un público exigente, asimismo como
                        actitud extrovertida y lenguaje profesional.
                    </p>
                        
                </div>

                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-flag fa-5x faa-bounce animated c-main "></i>
                    <h4>Liderazgo</h4>
                    <p>
                    Experiencia y habilidad dirigiendo grupos pequeños, medianos o masivos, para la determinación,
                    creación y aplicación de cualquier proyecto a laborar.
                    </p>
                  
            </div>

            <div class="col-md-4 col-sm-4">
                <i class="fa fa-lock fa-5x faa-bounce animated c-main "></i>
                <h4>Trabajo en equipo</h4>
                <p>
                Seguridad en conocimientos y planeación, pero siempre abierto a escuchar opciones más viables
                o ideas del equipo de trabajo.
                </p>
                
            </div>

            </div>
            </div>
        </div>
    </section>
    
    <section  id="contact-sec">
        <div class="container">
             
            <div class="row g-pad-bottom">
                  <h1 class="g-pad-bottom">  <i class="fa fa-crosshairs"></i> CONTACTO </h1>
                
                  
                <div class="col-md-6 ">
                    <h2>¿Quieres platicar conmigo?</h2>
                 
                    <p>
                         <strong> Ubicación: </strong> &nbsp;Valle de Anoz 1 40,  
                        <br />
                        ¿Buscas alguna asesoría o capacitación? No dudes en dejar tu nombre y correo electrónico con el requerimento que necesitas,
                        estoy aquí para servirte.         
                    </p>
                    <form>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Nombre:">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Correo electronico:">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Requerimento:"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                   <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999841.293321206!2d-75.80920404999999!3d42.75594204999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew+York!5e0!3m2!1sen!2s!4v1395313088825" s ></iframe>

                </div>
            </div>
        </div>
    </section>

    <div id="footer">
        2024 Práctica realizada para Sergio Monzón
         
    </div>

    <script src="assets/plugins/jquery-1.10.2.js"></script>

    <script src="assets/plugins/bootstrap.min.js"></script>  

    <script src="assets/plugins/jquery.isotope.min.js"></script>

    <script src="assets/plugins/jquery.prettyPhoto.js"></script>    

    <script src="assets/js/custom.js"></script>

</body>
</html>
